<div class='panel-group' id='accordion'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h4 class='panel-title'>
				<a data-toggle='collapse' data-parent='#accordion' href='#collapseSys'>系统管理</a>
			</h4>
		</div>
		<div id='collapseSys' class='panel-collapse collapse'>
			<div class='panel-body'>
				<p><a href='javascript:;'>客户管理</a></p>
			</div>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h4 class='panel-title'>
				<a data-toggle='collapse' data-parent='#accordion' href='#collapseBlog'>短信管理</a>
			</h4>
		</div>
		<div id='collapseBlog' class='panel-collapse collapse in'>
			<div class='panel-body'>
				<p><a href='javascript:;'>默认发送</a></p>
				<p><a href='/manage/article/category/'>发送计划</a></p>
				<p><a href='/manage/article/tag/'>发送记录</a></p>
			</div>
		</div>
	</div>
</div>