<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='$!{conf.html.external_res}user/css/login.css' />
	</head>
	<body>
		#parse('back/_pagelet/Side.TopBanner.html')
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-heading'><b>用户登陆</b></div>
						<div class='panel-body'>
							<div class='col-md-5 col-sm-6'>
								<form class='form-horizontal' role='form' id='logFrm' onsubmit='return false;' data-url='login'>
									<div class='form-group'>
										<label for='logFrm_UserName' class='col-sm-3 control-label'>用户名</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' id='logFrm_UserName' name='UserName' placeholder='用户名' required data-original-title='用户名不能为空。' value=''>
										</div>
									</div>
									<div class='form-group wrong_tip'>
										<label id='logFrm_UserName_Vali' class='col-sm-offset-3 col-sm-9'></label>
									</div>
									<div class='form-group'>
										<label for='logFrm_UserPass' class='col-sm-3 control-label'>登陆密码</label>
										<div class='col-sm-9'>
											<input type='password' class='form-control' id='logFrm_UserPass' name='UserPass' placeholder='登陆密码' required data-original-title='登陆密码不能为空。' value=''>
										</div>
									</div>
									<div class='form-group wrong_tip'>
										<label id='logFrm_UserPass_Vali' class='col-sm-offset-3 col-sm-9'></label>
									</div>
									<div class='form-group'>
										<div class='col-sm-offset-3 col-sm-9'>
											<div class='checkbox'>
												<label>
													<input type='checkbox' checked> 记住我的登录信息<span style='color:#A00;'>（请勿在公用电脑或者网吧内使用此项）</span>
												</label>
											</div>
										</div>
									</div>
									<div class='form-group'>
										<div class='col-sm-offset-3 col-sm-4'>
											<button id='btn_log' type='button' class='btn btn-primary'>立即登陆</button>
										</div>
										<label class='col-sm-5 control-label'><a href='${conf_html_virtualPath}user/forgetPwd'>忘记登陆密码？</a></label>
									</div>
								</form>
			                </div>
							<div id='help_tip' class='col-md-offset-3 col-sm-offset-3 col-md-4 col-sm-3'>
								<div>没有帐号？<a href='javascript:;'>注册新用户</a></div>
								<div>&nbsp;</div>
								<div><b>为什么总提示登陆失败？</b></div>
								<ol>
									<li>首先请确定浏览器已经启用Cookie。</li>
									<li>实在不行，请联系管理员。</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('front/_pagelet/Side.IndexFooter.html')
		#parse('front/_pagelet/Common.IndexJs.html')
		<!-- Own -->
		<script type='text/javascript'>

			function showVali(valiResu){
				$('form label[id$="_Vali"]').each(function (i, label){
					$(label).parent().css('display', 'none');
				});
				if('string' === typeof valiResu) return alert(valiResu);
				if('[object Array]' === Object.prototype.toString.call(valiResu)){
					$('#logFrm_'+ valiResu[1] +'_Vali').text(valiResu[0]).css('display', 'block').parent().css('display', 'block');
					$('#logFrm_'+ valiResu[1]).focus();
					return;
				}
				alert(valiResu.message);
			}

			$('#btn_log').click(function(){
				$('#logFrm').olxForm('submit', [function(){
					if(!$('#logFrm_UserName').val().trim().length) return ['用户名不能为空。', 'UserName'];
					if(!$('#logFrm_UserPass').val().trim().length) return ['登陆密码不能为空。', 'UserPass'];
				}, function (valiResu){
					showVali(valiResu);
				}, function (data){
					if(!data.success) return showVali(data.msg);
					location.href = 'login/success';
				}]);
			});
		</script>
		#parse('front/_pagelet/Common.LastJs.html')
	</body>
</html>
