#set($mobile_type = $!data.mobile_type[0])
#foreach($mobile_type in $!data.mobile_type)
	<div class='bs-callout bs-callout-$!mobile_type.COLOR'>
		<h6>$mobile_type.TYPE_NAME</h6>
	</div>
	#set($size = $!mobile_type.children.size())
	#foreach($type in $!mobile_type.children)
		#if($!velocityCount == 1)
			<div class='form-group zone'>
		#end
		#if($!velocityCount % 2 == 0)
				<div class='col-sm-6 col-md-6 col-xs-6 fontSize'>
					<input type='checkbox' id='span_code_filter_$!{type.id}' name='span_code_filter_$!{type.id}' value='$type.TYPE_COUNT' onclick='calcCount(this);'> $type.TYPE_NAME <span class="badge">#num2Money($type.TYPE_COUNT)</span>
				</div>
			#if($!velocityCount != $size)
			</div>
			<div class='form-group zone'>
			#end
		#else
				<div class='col-sm-6 col-md-6 col-xs-6 fontSize'>
					<input type='checkbox' id='span_code_filter_$!{type.id}' name='span_code_filter_$!{type.id}' value='$type.TYPE_COUNT' onclick='calcCount(this);'> $type.TYPE_NAME <span class="badge">#num2Money($type.TYPE_COUNT)</span>
				</div>
		#end
		#if($!velocityCount == $size)
			</div>
		#end
	#end
#end